<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Template Hello Page</title>
    <style>
        body{
            background-color: lightyellow;
        }
        h1,h2,h3{
            text-align: center;
        }
        h1{
            color: green;
        }
        h2{
            color:blue ;

        }
        h3{
            color: red;
        }
        #hr1{
            width: 95%;

        }
        #hr2{
            width: 85%;
        }
        #hr3{
            width: 75%;
        }



    </style>
</head>
<body>
<h1>Hello User!! Welcome to Djengo Templates...!!!</h1>
<hr  id="hr1"/>
<h2>Good Morning User..!!</h2>
<hr id="hr2"/>
<h3>Have a Great Day..!!</h3>
<hr id="hr3"/>
</body>
</html>