<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student-DateTime</title>
    <style>
        body{
            background-color: aqua;
            color: blue;

        }
        h2{
            border: 5px solid lightcyan;
            background-color: blue;
            text-align: center;

        }
        h3{
            border: 5px solid lightcoral;
            background-color: pink;
            text-align: center;

        }

    </style>
</head>
<body>
    <h1> Hello from Student Template File....</h1>
    <hr />
    <h2> Server Date and Time is::{{ server_datetime}}</h2>
    <h2> Server Date and Time is::{{ server_datetime2}}</h2>
    <hr />
    <h3> Student-Details </h3>
    <ol type="i">
        <li>Roll No: {{ rollno}}</li>
        <li>Name: {{sname}} </li>
        <li>Marks: {{ marks }}</li>
    <ol>
    <hr>

  </body>
</html>